<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
	{% load staticfiles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <title>Birdies and Buddies</title>
  </head>

  <div class="page-header">
    <h1>Welcome <small>please use one of the following options to login.</small></h1>
  </div>
  
	<body class="body" style="background-color:#f6f6f6">
	<div id="fb-root"></div>
    	<center>
			<p></p>
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% url 'social:begin' 'yahoo-oauth2' %}?next=/" class="btn btn-lg btn-primary btn-block">
			       Yahoo!
		        </a>
	        </div>
			<p></p>
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-lg btn-primary btn-block">
			       Google
		        </a>
	        </div>
			<p></p>
			<h6>Your tournament login will be tied to the authorization platform (Twitter, Facebook, or Google) you choose.<br/>  Please use the same authorization platform for each login.</br>  If you have multiple profiles within each platform, be sure to also use the same profile.</h6>
		</center>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>