{% extends "tourney/header.html" %}
{% load render_table from django_tables2 %}
{% block content %}

<p>Compile</p>


  <p>Delete current records for Daily Database  <a href="{% url 'delete_daily' %}" class="btn-danger">Delete</a></p>
  <p>Populate Golfers into Daily Database  <a href="{% url 'golfers_daily' %}" class="btn-success">Golfers</a></p>
  <p></p>


  
<form action="/editprofile/" method="post">
    {% csrf_token %}
	<center>
	<table border="3" cellpadding = "5" cellspacing = "5">
		{{ compile_form }}
	</table>
	<p></p>
    <input type="submit" value="Run" />
	</center>
</form>

<p>Result:</p>
<p></p>
{% render_table table %}


{% endblock %}



