{% extends "tourney/header.html" %}
{% block content %}

<p>Enter Scores for group {{ group }}</p>



<form action="/enterscores/" method="post">
  {% csrf_token %}
  <center>
    <p><font size="4"><b>Hole: {{ hole }}</b> - Par {{ par }} - </font>
	<select name="menu1" id="menu1">
      <option value="https://www.birdiesandbuddies.com/enterscores">Change Hole</option>
      <option value="https://www.birdiesandbuddies.com/1">Hole 1</option>
      <option value="https://www.birdiesandbuddies.com/2">Hole 2</option>
      <option value="https://www.birdiesandbuddies.com/3">Hole 3</option>
      <option value="https://www.birdiesandbuddies.com/4">Hole 4</option>
      <option value="https://www.birdiesandbuddies.com/5">Hole 5</option>
	  <option value="https://www.birdiesandbuddies.com/6">Hole 6</option>
	  <option value="https://www.birdiesandbuddies.com/7">Hole 7</option>
	  <option value="https://www.birdiesandbuddies.com/8">Hole 8</option>
	  <option value="https://www.birdiesandbuddies.com/9">Hole 9</option>
	  <option value="https://www.birdiesandbuddies.com/10">Hole 10</option>
	  <option value="https://www.birdiesandbuddies.com/11">Hole 11</option>
	  <option value="https://www.birdiesandbuddies.com/12">Hole 12</option>
	  <option value="https://www.birdiesandbuddies.com/13">Hole 13</option>
	  <option value="https://www.birdiesandbuddies.com/14">Hole 14</option>
	  <option value="https://www.birdiesandbuddies.com/15">Hole 15</option>
	  <option value="https://www.birdiesandbuddies.com/16">Hole 16</option>
	  <option value="https://www.birdiesandbuddies.com/17">Hole 17</option>
	  <option value="https://www.birdiesandbuddies.com/18">Hole 18</option>
    </select></p>
	<script type="text/javascript">
      var urlmenu = document.getElementById( 'menu1' );
       urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value, '_self' );
      };
</script>
  </center>

<div class="container">
  <div class="row" >
	
	<div class="col-sm">
      <center>
	  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div align="left" class="card-header" style="padding:5px"> {{ g1_name }} </div>
          <div align="right" class="card-body" style="padding:5px">
            <div class="container">
              <div class="row">
               <div align="center" class="col">
                 {{ g1_rdp }}</br>
				 <font size = 1">Points</font>
               </div>
               <div class="col-9">
                 {{ form.g1_score }}
               </div>
              </div>
			</div>
          </div>
      </div>
      </center>
    </div>
	
	<div class="col-sm">
      <center>
	  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div align="left" class="card-header" style="padding:5px"> {{ g2_name }} </div>
          <div align="right" class="card-body" style="padding:5px">
            <div class="container">
              <div class="row">
               <div align="center" class="col">
                 {{ g2_rdp }}</br>
				 <font size = 1">Points</font>
               </div>
               <div class="col-9">
                 {{ form.g2_score }}
               </div>
              </div>
			</div>
          </div>
      </div>
      </center>
    </div>
	
	<div class="col-sm">
      <center>
	  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div align="left" class="card-header" style="padding:5px"> {{ g3_name }} </div>
          <div align="right" class="card-body" style="padding:5px">
            <div class="container">
              <div class="row">
               <div align="center" class="col">
                 {{ g3_rdp }}</br>
				 <font size = 1">Points</font>
               </div>
               <div class="col-9">
                 {{ form.g3_score }}
               </div>
              </div>
			</div>
          </div>
      </div>
      </center>
    </div>
	
	<div class="col-sm">
      <center>
	  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div align="left" class="card-header" style="padding:5px"> {{ g4_name }} </div>
          <div align="right" class="card-body" style="padding:5px">
            <div class="container">
              <div class="row">
               <div align="center" class="col">
                 {{ g4_rdp }}</br>
				 <font size = 1">Points</font>
               </div>
               <div class="col-9">
                 {{ form.g4_score }}
               </div>
              </div>
			</div>
          </div>
      </div>
      </center>
    </div>
	
	
	
  </div>
 </div>
<center>
  <button type="submit" class="btn btn-outline-success">Save Scores</button>
  <button type="reset" class="btn btn-outline-success">Reset</button>
</center>
</form>




{% endblock %}

	
