<!doctype html>
<html lang="en">
  
  <head>
    <title>Birdies and Buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
    {% load static %}
	<!--https://www.bootstrapcdn.com/bootswatch/-->
   	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
	
	<style>
		body {margin-bottom: 100px;}
	</style>
	
  </head>

	<body class="body" style="background-image: url({% static 'tourney/img/xxx.png' %}); background-repeat: no-repeat; background-size: 200px; background-position: center; background-attachment: fixed; background-color: white">
		<div>
			{% block content %}
			{% endblock %}	
		</div>
	<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-primary">
		<img src="{% static "tourney/img/bblogo_small_clear.png" %}" height="50" alt="BB Logo">
		<a class="navbar-brand" style="color:white">Birdies and Buddies</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/tourney">Main</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/enterscores">Enter Scores</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/leaderboard">Leaderboard</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/scorecards">Scorecards</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/tourneyinfo">Tourney Info</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/history">B&B History</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/editprofile">Profile</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="https://www.birdiesandbuddies.com/logout">Logout</a>
				</li>
		  
				<!-- Disabled Link
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>-->
		  
			</ul>
		</div>
	</nav>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
	
