{% extends "tourney/header.html" %}
{% block content %}
{% load static %} <!--not sure why this is needed here when it's in the header.html file but it gave an error without it -->

<style>
table, th, td {
	padding-left: 10px;
	padding-right: 10px;
}
</style>
<h1></h1>
<h2></h2>
<h3></h3>
<h4>Birdies and Buddies History</h4>
<p></p>
<h5>Tournaments</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Players</th>
		<th style="border-bottom: 1px solid blue">Winner</th>
		<th style="border-bottom: 1px solid blue">Winning Score</th>
	</tr>
	<tr>
		<td>2022</td><td>Champions Gate</td><td>28</td><td>TBD</td><td>TBD</td>
	</tr>
	<tr>
		<td>2022</td><td>Reunion</td><td>28</td><td>Adam Roller</td><td>+16 (playoff)</td>
	</tr>
	<tr>
		<td>2021</td><td>Mission Inn</td><td>28</td><td>Joe Mohler</td><td>+11</td>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>24</td><td>Joey Dietz</td><td>+7</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>24</td><td>Stephen Campbell</td><td>+9</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>24</td><td>Phil Tendler</td><td>+8 (playoff)</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>20</td><td>Bobby Lanza</td><td>+11</td>
	</tr>
</table>
<p></p>
<h5>Runner Ups</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">First Loser</th>
		<th style="border-bottom: 1px solid blue">Score</th>
	</tr>
	<tr>
		<td>2023</td><td>Reunion</td><td>TBD</td><td>TBD</td>
	</tr>
	<tr>
		<td>2022</td><td>Reunion</td><td>Dave Perkins</td><td>+16 (playoff)</td>
	</tr>
	<tr>
		<td>2021</td><td>Mission Inn</td><td>Roland Herminda</td><td>+6</td>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>John Wheaton</td><td>+6</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>Phil Tendler & Ted Kane</td><td>+8</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>Kevin Mersinger</td><td>+8 (playoff)</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>Chris Empric</td><td>+9</td>
	</tr>
</table>
<p></p>
<h5>Denim Dan's Dingleberry Award</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Last Place</th>
		<th style="border-bottom: 1px solid blue">Score</th>
	</tr>
	<tr>
		<td>2023</td><td>Champions Gate</td><td>TBD</td><td>TBD</td>
	</tr>
	<tr>
		<td>2022</td><td>Reunion</td><td>Guy Frankenfield</td><td>-9</td>
	</tr>
	<tr>
		<td>2021</td><td>Mission Inn</td><td>Andy Wright</td><td>-18</td>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>Dylan Zini</td><td>-15</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>Justin McMurry & Chris Empric</td><td>-14</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>Ross Klein</td><td>-12</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>Mike Mainieri</td><td>-11</td>
	</tr>
</table>
<p></p>
<h5>Most Points in a Round</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Points</th>
		<th style="border-bottom: 1px solid blue">Day</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Course</th>
	</tr>
	<tr><td>2023</td><td>Dana Awad</td><td>41</td><td>Friday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2023</td><td>Dana Awad</td><td>41</td><td>Sunday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2023</td><td>Ted Kane</td><td>38</td><td>Friday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2023</td><td>Dana Awad</td><td>38</td><td>Saturday</td><td>Reunion</td><td>Nicklaus</td></tr>
	<tr><td>2023</td><td>Adam Roller</td><td>38</td><td>Sunday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>36</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2017</td><td>Chris Empric</td><td>35</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2023</td><td>Dave Perkins</td><td>34</td><td>Sunday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2020</td><td>Matt Fisherman</td><td>34</td><td>Sunday</td><td>Hammock Beach</td><td>Ocean</td></tr>
	<tr><td>2023</td><td>Adam Roller</td><td>33</td><td>Friday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2023</td><td>Dave Perkins</td><td>33</td><td>Saturday</td><td>Reunion</td><td>Nicklaus</td></tr>
	<tr><td>2017</td><td>Matt Fisherman</td><td>33</td><td>Sunday</td><td>Reunion</td><td>Nicklaus</td></tr>
	<tr><td>2018</td><td>Matt Fisherman</td><td>32</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2019</td><td>Ted Kane</td><td>32</td><td>Sunday</td><td>Innisbrook</td><td>North</td></tr>
	<tr><td>2020</td><td>David Perkins</td><td>32</td><td>Friday</td><td>Hammock Beach</td><td>Conservatory</td></tr>

</table>
<p></p>
<h5>Most Points in a Weekend</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Points</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Tourney Finish</th>
	</tr>
	<tr><td>2023</td><td>Dana Awad</td><td>120</td><td>Reunion</td><td>3rd</td></tr>
	<tr><td>2023</td><td>Ted Kane</td><td>99</td><td>Reunion</td><td>14th</td></tr>
	<tr><td>2023</td><td>Dave Perkins</td><td>98</td><td>Reunion</td><td>2nd</td></tr>
	<tr><td>2023</td><td>Adam Roller</td><td>96</td><td>Reunion</td><td>1st</td></tr>
	<tr><td>2017</td><td>Chris Empric</td><td>90</td><td>Reunion</td><td>2nd</td></tr>
	<tr><td>2023</td><td>Cory Jeffries</td><td>88</td><td>Reunion</td><td>8th</td></tr>
	<tr><td>2023</td><td>Matt Fisherman</td><td>85</td><td>Reunion</td><td>14th</td></tr>
	<tr><td>2019</td><td>Matt Fisherman</td><td>85</td><td>Innisbrook</td><td>6th</td></tr>
	<tr><td>2019</td><td>Ted Kane</td><td>84</td><td>Innisbrook</td><td>2nd</td></tr>
	<tr><td>2020</td><td>Matt Fisherman</td><td>84</td><td>Hammock Beach</td><td>4th</td></tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>83</td><td>Reunion</td><td>3rd</td></tr>
	<tr><td>2017</td><td>Matt Fisherman</td><td>82</td><td>Reunion</td><td>8th</td></tr>
	<tr><td>2020</td><td>David Perkins</td><td>82</td><td>Hammock Beach</td><td>2nd</td></tr>

</table>
<p></p>
<h5>Best Rounds vs Quota</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Amount</th>
		<th style="border-bottom: 1px solid blue">Day</th>
	</tr>
	<tr><td>2023</td><td>Kevin Mersinger</td><td>+13</td><td>Friday</td></tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>+12</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Kevin Mersinger</td><td>+12</td><td>Saturday</td></tr>
	<tr><td>2023</td><td>Dane Fernandez</td><td>+11</td><td>Friday</td></tr>
	<tr><td>2023</td><td>Adam Roller</td><td>+11</td><td>Sunday</td></tr>
	<tr><td>2023</td><td>Adam Mays</td><td>+10</td><td>Friday</td></tr>
	<tr><td>2021</td><td>Joe Mohler</td><td>+10</td><td>Saturday</td></tr>
	<tr><td>2023</td><td>Adam Roller</td><td>+9</td><td>Friday</td></tr>
	<tr><td>2023</td><td>Roland Hermida</td><td>+9</td><td>Friday</td></tr>
	<tr><td>2017</td><td>Chris Empric</td><td>+9</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Jason Kao</td><td>+9</td><td>Saturday</td></tr>
	<tr><td>2019</td><td>Stephen Campbell</td><td>+9</td><td>Sunday</td></tr>


</table>
<p></p>
<h5>Worst Rounds vs Quota</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Amount</th>
		<th style="border-bottom: 1px solid blue">Day</th>
	</tr>
	<tr><td>2018</td><td>Matt Fisherman</td><td>-12</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Jason Kao</td><td>-11</td><td>Friday</td></tr>
	<tr><td>2019</td><td>Todd Anderson</td><td>-11</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Sexy Randi Mallard</td><td>-10</td><td>Sunday</td></tr>
	<tr><td>2020</td><td>Phil Tendler</td><td>-10</td><td>Sunday</td></tr>	
	<tr><td>2018</td><td>Dustin House</td><td>-9</td><td>Sunday</td></tr>
	<tr><td>2021</td><td>Todd Fruehauft</td><td>-9</td><td>Friday</td></tr>
	<tr><td>2021</td><td>Dane Fernandez</td><td>-9</td><td>Saturday</td></tr>
	<tr><td>2021</td><td>J.C. Perez</td><td>-9</td><td>Saturday</td></tr>
</table>
{% endblock %}

	
