{% extends "tourney/header.html" %}
{% block content %}
{% load staticfiles %} <!--not sure why this is needed here when it's in the header.html file but it gave an error without it -->

<style>
table, th, td {
	padding-left: 10px;
	padding-right: 10px;
}
</style>
<h1></h1>
<h2></h2>
<h3></h3>
<h4>Birdies and Buddies History</h4>
<p></p>
<h5>Tournaments</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Players</th>
		<th style="border-bottom: 1px solid blue">Winner</th>
		<th style="border-bottom: 1px solid blue">Winning Score</th>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>24</td><td>Not You!</td><td>TBD</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>24</td><td>Stephen Campbell</td><td>+9</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>24</td><td>Phil Tendler</td><td>+8 (playoff)</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>20</td><td>Bobby Lanza</td><td>+11</td>
	</tr>
</table>
<p></p>
<h5>Runner Ups</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">First Loser</th>
		<th style="border-bottom: 1px solid blue">Score</th>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>Still Not You!</td><td>TBD</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>Phil Tendler & Ted Kane</td><td>+8</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>Kevin Mersinger</td><td>+8 (playoff)</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>Chris Empric</td><td>+9</td>
	</tr>
</table>
<p></p>
<h5>Denim Dan's Dingleberry Award</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Last Place</th>
		<th style="border-bottom: 1px solid blue">Score</th>
	</tr>
	<tr>
		<td>2020</td><td>Hammock Beach</td><td>Probably You...</td><td>TBD</td>
	</tr>
	<tr>
		<td>2019</td><td>Innisbrook</td><td>Justin McMurry & Chris Empric</td><td>-14</td>
	</tr>
	<tr>
		<td>2018</td><td>Reunion</td><td>Ross Klein</td><td>-12</td>
	</tr>
	<tr>
		<td>2017</td><td>Reunion</td><td>Mike Mainieri</td><td>-11</td>
	</tr>
</table>
<p></p>
<h5>Most Points in a Round</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Points</th>
		<th style="border-bottom: 1px solid blue">Day</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Course</th>
	</tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>36</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2017</td><td>Chris Empric</td><td>35</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2017</td><td>Matt Fisherman</td><td>33</td><td>Sunday</td><td>Reunion</td><td>Nicklaus</td></tr>
	<tr><td>2018</td><td>Matt Fisherman</td><td>32</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2019</td><td>Ted Kane</td><td>32</td><td>Sunday</td><td>Innisbrook</td><td>North</td></tr>
	<tr><td>2018</td><td>Sexy Randi Mallard</td><td>31</td><td>Saturday</td><td>Reunion</td><td>Palmer</td></tr>
	<tr><td>2018</td><td>Joey Dietz</td><td>30</td><td>Friday</td><td>Reunion</td><td>Nicklaus</td></tr>
	<tr><td>2019</td><td>Sexy Randi Mallard</td><td>30</td><td>Friday</td><td>Innisbrook</td><td>Copperhead</td></tr>
	<tr><td>2019</td><td>Matt Fisherman</td><td>29</td><td>Friday</td><td>Innisbrook</td><td>Copperhead</td></tr>
</table>
<p></p>
<h5>Most Points in a Weekend</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Points</th>
		<th style="border-bottom: 1px solid blue">Venue</th>
		<th style="border-bottom: 1px solid blue">Tourney Finish</th>
	</tr>
	<tr><td>2017</td><td>Chris Empric</td><td>90</td><td>Reunion</td><td>2nd</td></tr>
	<tr><td>2019</td><td>Matt Fisherman</td><td>85</td><td>Innisbrook</td><td>6th</td></tr>
	<tr><td>2019</td><td>Ted Kane</td><td>84</td><td>Innisbrook</td><td>2nd</td></tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>83</td><td>Reunion</td><td>3rd</td></tr>
	<tr><td>2017</td><td>Matt Fisherman</td><td>82</td><td>Reunion</td><td>8th</td></tr>
	<tr><td>2018</td><td>Matt Fisherman</td><td>77</td><td>Reunion</td><td>17th</td></tr>
	<tr><td>2018</td><td>Joey Dietz</td><td>73</td><td>Reunion</td><td>8th</td></tr>
	<tr><td>2018</td><td>Sexy Randi Mallard</td><td>72</td><td>Reunion</td><td>16th</td></tr>
	<tr><td>2019</td><td>Todd Anderson</td><td>69</td><td>Innisbrook</td><td>9th</td></tr>
</table>
<p></p>
<h5>Best Rounds vs Quota</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Amount</th>
		<th style="border-bottom: 1px solid blue">Day</th>
	</tr>
	<tr><td>2017</td><td>Sexy Randi Mallard</td><td>+12</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Kevin Mersinger</td><td>+12</td><td>Saturday</td></tr>
	<tr><td>2017</td><td>Chris Empric</td><td>+9</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Jason Kao</td><td>+9</td><td>Saturday</td></tr>
	<tr><td>2019</td><td>Stephen Campbell</td><td>+9</td><td>Sunday</td></tr>
	<tr><td>2017</td><td>Bobby Lanza</td><td>+8</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Joey Dietz</td><td>+8</td><td>Friday</td></tr>
	<tr><td>2019</td><td>Todd Anderson</td><td>+8</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Adam Mays</td><td>+7</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Mike Mainieri</td><td>+7</td><td>Saturday</td></tr>
	<tr><td>2018</td><td>Dustin House</td><td>+7</td><td>Saturday</td></tr>
	<tr><td>2019</td><td>JC Perez</td><td>+7</td><td>Friday</td></tr>
	<tr><td>2019</td><td>Ted Kane</td><td>+7</td><td>Sunday</td></tr>
</table>
<p></p>
<h5>Worst Rounds vs Quota</h5>
<table>
	<tr border-bottom: 1px solid blue>
		<th style="border-bottom: 1px solid blue">Year</th>
		<th style="border-bottom: 1px solid blue">Golfer</th>
		<th style="border-bottom: 1px solid blue">Amount</th>
		<th style="border-bottom: 1px solid blue">Day</th>
	</tr>
	<tr><td>2018</td><td>Matt Fisherman</td><td>-12</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Jason Kao</td><td>-11</td><td>Friday</td></tr>
	<tr><td>2019</td><td>Todd Anderson</td><td>-11</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Sexy Randi Mallard</td><td>-10</td><td>Sunday</td></tr>
	<tr><td>2018</td><td>Dustin House</td><td>-9</td><td>Sunday</td></tr>
	<tr><td>2019</td><td>Joey Dietz</td><td>-8</td><td>Sunday</td></tr>
	<tr><td>2019</td><td>Sean Dunlavey</td><td>-8</td><td>Saturday</td></tr>
	<tr><td>2019</td><td>Kevin Mersinger</td><td>-8</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Ross Klein</td><td>-8</td><td>Friday</td></tr>
	<tr><td>2018</td><td>Joey Dietz</td><td>-8</td><td>Sunday</td></tr>
	<tr><td>2017</td><td>Mike Mainieri</td><td>-8</td><td>Saturday</td></tr>
</table>
{% endblock %}

	
