{% extends "tourney/header.html" %}
{% block content %}


	{% if user.is_authenticated %}
		
	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}

	
<!--https://weatherwidget.io/--->
<a class="weatherwidget-io" href="https://forecast7.com/en/28d54n81d38/orlando/?unit=us" data-label_1="ORLANDO" data-label_2="WEATHER" data-mode="Current" data-days="3" data-theme="weather_one" >ORLANDO WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

<h4>Welcome, {{ user.username }}</h4>
User Name</br>
Tee Time:</br>
Group:</br>
Mini Leaderboard</br>
Chat Messages</br>

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size:x-small
}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #1c5ec9;
    color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Golfer</th>
    <th>Score</th>
    <th>Thru</th>
  </tr>
  <tr>
    <td>Golfer 1</td>
    <td>+3</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Golfer 2</td>
    <td>+2</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Golfer 3</td>
    <td>E</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Golfer 4</td>
    <td>E</td>
    <td>6</td>
  </tr>

</table> 

{% endblock %}

	
