{% extends "tourney/header.html" %}
{% load render_table from django_tables2 %}
{% block content %}


	{% if user.is_authenticated %}
		
	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}

<div class="container">
  <div class="row">
    <div class="col-9">
      <b>{{ name }}</b>
    </div>
    <div>
      <a target="_blank" href="https://www.booked.net/weather/palm-harbor-3523"><img src="https://w.bookcdn.com/weather/picture/26_3523_0_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=25817"  alt="booked.net"/></a>
    </div>
  </div>
</div>

<p><center>Group: {{ group }} - Tee Time: {{ teetime }} on {{ course }}</center></p>

<div class="container">
<h4>Leaders:</h4>
<table>
	<font color="blue">
	<tr border-bottom: 1px solid #ddd>
		<th style="border-bottom: 1px solid #ddd"></br>Golfer</th>
		<th style="border-bottom: 1px solid #ddd"><center>Tourney</br> Score</center></th>
		<th style="border-bottom: 1px solid #ddd"><center></br>Thru</center></th>
	</tr>
	</font>
{% for golfer, net_day_points, thru in small_lb_list %}
	<tr border-bottom: 1px solid #ddd>
		<td style="border-bottom: 1px solid #ddd; padding: 2px 7px 2px 7px;">{{ golfer }}</td>
		<td style="border-bottom: 1px solid #ddd; padding: 2px 7px 2px 7px;"><center>{{ net_day_points }}</center></td>
		<td style="border-bottom: 1px solid #ddd; padding: 2px 7px 2px 7px;"><center>{{ thru }}</center></td>
	</tr>
{% endfor %}	
</table>


<p></p>



<h4>Messages:</h4>

<form action="/main/" method="post">
  {% csrf_token %}
  
    {{ form.message }}
    <button type="submit" class="btn btn-primary">Post</button>
  
</form>

{% for author, message in messlist %}
    <b>{{ author }}</b>: {{ message }}</br>
{% endfor %}

</div>

{% endblock %}

	
